BASE_URL=https://ru.yougile.com/api-v2
API_TOKEN=your_api_token_here
UI_URL=https://ru.yougile.com
UI_USERNAME=your_email_here
UI_PASSWORD=your_password_here
COLUMN_ID=your_column_id_here
BOARD_ID=your_board_id_here
ASSIGNEE_ID=your_assignee_id_here